<!DOCTYPE html>
<title>UPlanner - Dashboard</title>
<script src="https://apis.google.com/js/platform.js" async defer></script>
<script src="https://togetherjs.com/togetherjs-min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="google-signin-client_id" content="777537472432-8qni684qbrq6j911t6e2s94qo8kp6fia.apps.googleusercontent.com">
<link rel="stylesheet" href="styles.css">
<link rel="shortcut icon" href="../images/uopLogo.png"/>
<link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">

<div id="layoutGrid">
    <header>
        <ul>
            <li id="headerTitle"><h1>UPlanner</h1></li>
            <li class="navButtons userMenu">
                <img id="userPhoto" src="." alt="profile picture">
                <div class="userMenu-content">
                    <a>Settings</a>
                    <a onclick="TogetherJS(this); return false;">Collaborate</a>
                    <div class="g-signin2" data-onsuccess="onSignIn"></div>
                    <a id="signOut" href="" onclick="signOut();">Logout</a>
                </div>
            </li>
        </ul>
    </header>

    <div id="sidebar">
        <ul id="sideList">
            <li><h2>My Units</h2></li>
            <li><select id="units"></select></li>
            <li id="sideTitle"><h2>Topics</h2></li>
        </ul>
        <ul id="topicList"></ul>


    </div>

        <div id="unitInfo" class="contentBox ">
            <ul>
                <li class="unitInfo"><h2 id="unitTitle">Please select a unit</h2></li>
                <li class="unitInfo"><a id="moreUnitInfo">&#9432;</a></li>
                <li class="unitInfo"><input type="submit" value="Save" id="saveTopics"></li>
                <li class="topicInfo"><input type="submit" value="Delete" id="deleteTopic"></li>
                <li class="topicInfo"><input type="submit" value="Add Note" id="addNote"></li>
                <li class="topicInfo">
                    <label>Number of weeks:</label>
                    <input id="tWeeks" type="number" placeholder="Weeks"/>
                </li>
                <li class="topicInfo">
                    <label>Topic Name:</label>
                    <input id="topicName" placeholder="Topic Name" />
                </li>
            </ul>
        </div>

        <div id="mainContentFlex">

        </div>

    <footer>
        <p>805988 WEBSCRIPT COUSEWORK</p>
    </footer>
</div>
<template id="note">
    <div class="contentBox mainContent">
        <input id="nTitle" />
        <button>Delete</button>
        <div id="editor"></div>
    </div>
</template>

<script src="../scripts/client.js"></script>
<script src="../scripts/dashboard.js"></script>
<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
