html * {
    font-family: 'Ubuntu', sans-serif;
}


body{
    height: 100vh;
    width: 100vw;
    margin: 0;
    background-color: rgba(0,0,0,0);
    background-image: url("images/uopLogo.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#layoutGrid {
  display: grid;

  grid-template-areas:
    "header header"
    "nav info"
    "nav cont"
    "footer footer";

  grid-template-columns: 15vw 1fr;
  grid-template-rows: 10vh 8em 1fr;
  margin: 0;
  padding: 0;
  height: 100vh;

}

#editGrid {
  display: grid;

  grid-template-areas:
    "header"
    "info"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 10vh 1fr 3em;
  margin: 0;
  padding: 0;
  height: 100vh;

}
#editUnitInfo{
    margin: 0 33%;
}

#units{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    text-align: center;
}

#editUnitInfo input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 2em 0 5em 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#editUnitInfo input[type=submit] {
    width: 100%;
    background-color: #4296D2;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#editUnitInfo input[type=submit]:hover {
    background-color: #1179B5;
}

header {
  grid-area: header;
  border-bottom: solid;
  background-color: #4296D2;
  text-align: left;
  min-height: 3em;
}

#headerTitle{
    text-align: center;
    vertical-align: middle;
    color: #5E225F;
    padding: 0em 0.5em;
    float: left;
    display: inline-block;

}

header ul {
    margin: 0;
	padding: 0px;
	list-style-type: none;
	text-align: left;

}

header ul li {
    height: inherit;
    display: inline-block;
    padding: 0;
}
#editUnitInfo{
    grid-area: info;
}

.navButtons{
    height: 9.8vh;
    min-width: 120px;
    float: right;
    display: block;
    text-align: center;
    vertical-align: middle;
    line-height: 5em
}

.navButtons:hover{
    background-color: #1179B5;
}

#userPhoto{
    border-radius: 50%;
    height: inherit;
}

.userMenu:hover .userMenu-content {
    display: block;
}

.userMenu-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 15px;
    z-index: 1;
    right: 0;
    top: 10vh;
    border: solid;
}

.userMenu-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    vertical-align: middle;
    display: block;
    height: 3em;
    line-height: 3em
}

#sidebar {
  grid-area: nav;
  margin: 0;
  border-right: solid;
  background-color: rgba(0,0,0,0.1);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  overflow-x: auto;

}
#sideList, #topicList{
    padding: 0;
    margin: 0;
    width: inherit;
    line-height: 2em
}

#sideList li, #topicList li{
    border: 0em;
    text-align: center;
    display: block;
    width: 100%;
    height: 3em;
    box-sizing: content-box;
    border-bottom: solid;


}
#topicList li{
    height: 6vh;
}

#topicList li:hover{
    background-color: rgba(0,0,0,0.2)
}

#sideList a, #sideList a  {
    height: 100%;

}

#sideList h2{
    margin: 0;
    line-height: 2em
}


#mainContentFlex{
    grid-area: cont;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    padding: 0;
    margin: 0;
}

.contentBox {
    text-align: center;
    position: relative;
    border: solid;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    margin: 0.5em;
}


#unitInfo{
    grid-area: info;
    margin: 0.5em 0.4em;
    display:inline-block;
    width: 90%;
    padding: 0;

}

#unitTitle{
    font-size: large;
}

#unitInfo ul {
    margin: 0;
	padding: 0px;
	list-style-type: none;
	text-align: left;
    height: 100%;

}

#unitInfo ul li {
    display: inline-block;
    padding: 0 1em;
}
#unitInfo select{
    margin-top:  0;
}
.topicInfo{
    float: right;
    margin: 2em 0;
}





.mainContent{
    overflow-x: hidden;
    height: 67vh;
    width: 30%;
    margin: 0.7em 0.4em;
}



.textSection{
    margin: 1em;
    padding: 2em;
    background-color: white;
}

#loginInfo{
    grid-area: cont;
}
#loginBox{

    margin: 5em 40%;
    width: 20em;
}

.g-signin2{
  width: 100%;
}

.g-signin2 > div{
  margin: 0 auto;
}

.oneWeek{
    height: 5em;
}
.twoWeeks{
    height: 7em;
}
footer {
  grid-area: footer;
  background-color: #efefef;
  text-align: center;

}


@media screen and (max-width:950px) and (min-width: 551px) {
    #layoutGrid {
      display: grid;

      grid-template-areas:
        "header"
        "info"
        "cont"
        "footer";

      grid-template-columns: 1fr;
      grid-template-rows: 5em 0.5fr;
      margin: 0;
      padding: 0;
      height: 100vh;
    }
    .mainContent{
        width: 45%;

    }
    #sidebar{
        display: none;
    }
    .topicInfo, .unitInfo {
        margin: 0
    }
}

@media screen and (max-width:550px) {
    #layoutGrid {
      display: grid;

      grid-template-areas:
        "header"
        "info"
        "cont"
        "footer";

      grid-template-columns: 1fr;
      grid-template-rows: 5em 0.5fr;
      margin: 0;
      padding: 0;
      height: 100vh;
    }
    .mainContent{
        width: 100%;

    }
    #sidebar{
        display: none;
    }
}
